<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script src="../static/js/plotly.js"></script>
</head>
<body>

  <div id="tester" style="width:600px;height:250px;"></div>

<script>
    var req = new XMLHttpRequest();
      req.open("GET", "http://127.0.0.1:8000/", true);
      req.addEventListener("load", function() {
        if (req.status >= 200 && req.status < 400) {
          
          var obj = JSON.parse(req.response)
          console.log(obj)

          TESTER = document.getElementById('tester');
          Plotly.plot( TESTER, [{
          x: obj[0],
          y: obj[1] }], {
          margin: { t: 0 } } );

        } else {
          console.error(req.status + " " + req.statusText);
        }
      });
      req.addEventListener("error", function(){
        console.error("Error de red");
      });
      req.send(null);
    
      


    
  </script>

</body>
</html>